
/* Css normalize
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;  
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  overflow-x: hidden;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}


/**
* fonts
*/

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/circular-bold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../assets/fonts/circular-bold-italic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/circular-medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/circular-medium-italic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/circular-book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/circular-book-italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/circular-black.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/circular-black-italic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



/**
 * Stibtits custom style starts here 
 */

body{
font-family: 'CircularStd';

}


/*
* custom delays
*/

.delay1{
animation-delay: 0.5s;
}
.delay2{
animation-delay: 0.6s;
}
.delay3{
animation-delay: 0.7s;
}
.delay4{
animation-delay: 0.8s;
}


.delay1-1{
animation-delay: 0.1s;
}
.delay2-2{
animation-delay: 0.2s;
}
.delay3-3{
animation-delay: 0.3s;
}
.delay4-4{
animation-delay: 0.4s;
}

.hidden{
visibility: hidden !important;
}

.shown{
visibility: visible !important;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url('../assets/img/loadingpin.gif') center no-repeat #fff;
}

/*
*   Helpper classes
*
*/

.random{
width: 100%;
}

.clearfix{
clear: both;
}

.pointer{
cursor: pointer;
}

textarea {
resize: none;
}
/* navbar */

.navbar{
width: 100%;
padding-left: 15px;
background: transparent;
animation: mymove2 0.2s ease-in-out;
}

.navbar2{
width: 100%;
padding: 15px;
background-color: transparent;
}

.navbar-sticky{
position: fixed;
background: #ffffff;
height: 80px;
padding: 10px 6% ;
margin: 0 auto;
z-index: 20;
width: 100%;
top: 0;
left: 0;
box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.12);
animation: mymove 0.2s ease-in-out;

}

@keyframes mymove {
from {
  top: -80px;
}
to {
  top: 0px;
}
}

@keyframes mymove2 {
from {
  top: -100px;
}
to {
  top: 0;
}
}

.stibits-logo{
  width: 109px;
  height: 46px;
}

.navigation-links{  
  float: right;
  padding-top: 15px;
}

.navigation-links > a {
font-size: 16px;
font-weight: 500;
letter-spacing: -0.23px;
color: #000000;
margin-right: 26px; 
float: left;
}

.unlock-my-badge {
width: 172px;
height: 40px;
border-radius: 6px;
box-shadow: 0 5px 10px 0 rgba(186, 2, 40, 0.17);
background-color: #ba0228;
color: white;
text-align: center;
float: left;
visibility: visible;
line-height: 40px;
margin-top: 0;
}


.burger-icon{
margin-top: 12px;
margin-left: 24px;
visibility: hidden;
}

/* 
* first section
*/

#first-section{
/* background: url('../assets/img/background.png'); */
background-size: 610px;
background-position: 90% top;
background-repeat: no-repeat;
max-width: 1440px;
margin: 0 auto 144px auto;
position: relative;
}

.background-container{
position: absolute;
height: 700px;
background: url('../assets/img/background.png');
width: 100%;
max-width: 1440px;
background-size: 610px;
background-position: 90% top;
background-repeat: no-repeat;

}

.hero-title{
font-size: 18px;
font-weight: 700;
letter-spacing: -0.26px;
word-spacing: 5px;
color: rgba(0, 0, 0, 0.44);
padding-top: 120px; 
}

.hero-big-title{
font-size: 54px;
margin: 17px 0px;

}

.google-play-icons{
margin-left: 12px;
}


.phone-badges-container{
padding-top:100px;  
position: relative;
}

#phone-top{
position: absolute;
z-index: 6;
right: 20%;

}

#phone-down{
position: absolute;
z-index: 5;
right: 0%;
top: 150px;


}

@keyframes slideInFromLeft {
0% {
  transform: rotate(-19deg) translate(-62px, -64px);
  opacity: 0.8;
}
100% {
  transform: rotate(0deg) translate(0px, 0px);
  opacity: 1;

}
}



#transaction-top{
position: absolute;
z-index: 7;
right: 2%;
top: 290px;
}

#badge-1{
position: absolute;
z-index: 7;
top: 55px;
right: 84%;
}

#badge-2{
position: absolute;
z-index: 7;
top: 210px;
right: 86%;
}

#badge-3{
position: absolute;
z-index: 7;
top: 59px;
right: 0%;
}


.served-badges{
text-align: left;
position: relative;
}

.served-badges>img{
padding-top: 10px;
}

.served-badges-text {
font-size: 17px;
line-height: 1.71;
letter-spacing: -0.24px;
color: #000000;
}


.served-badges-text > b {
font-size: 17px;
color: #ba0228;
display: inline;
}

.rectangle{
  width: 319px;
  height: 6px;
  border-radius: 3px;
  background-color: #f2f2f2;
  margin-left: 58px;
  margin-top: -18px;
}

.rectangle::after{
position: absolute;
content: "";
height: 6px;
border-radius: 3px;
background-color: #ba0228;

}



.unlock-input-button{
margin-top: 32px;
margin-left: 10px;
}


.email-input{
width: 290px;
height: 49px;
border-radius: 7px;
border: solid 2px #ba0228;
background-color: #ffffff;
float: left;
color: #ba0228;
padding-left: 15px;
margin-right: 20px;
margin-bottom: 15px;
}

.email-input::placeholder{
color: #ba0228;
letter-spacing: -0.26px;
}

.email-input4{
width: 290px;
height: 49px;
border-radius: 7px;
border: solid 2px #ba0228;
background-color: #ffffff;
float: left;
color: #ba0228;
padding-left: 15px;
margin-right: 20px;
margin-bottom: 15px;
}

.email-input4::placeholder{
color: #ba0228;
letter-spacing: -0.26px;
}


.unlock-my-badge2{
border: none;
width: 168px;
height: 49px;
border-radius: 7px;
box-shadow: 0 5px 10px 0 rgba(186, 2, 40, 0.17);
background-color: #ba0228;
color: white;
}

.sub-description{
margin-left: 15px;
font-size: 15px;
letter-spacing: -0.21px;
opacity: 0.5;
}


.play-app-store{
width: 600px;
min-height: 74px;
border-radius: 12px;
background-color: #f3f3f3;
padding-left: 20px;

}

.play-app-store>p{
line-height: 74px;
}



/* 
*   How it works section
*/

#how-it-works{
min-height: 570px;
background-color: #ba1b28;
padding: 41px 0;
position: relative;
overflow-x: hidden;
}




.section-bar-title{
width: 56px;
height: 7px;
border-radius: 3.5px;
background-color: #ffffff;
margin: 0 auto;
}

.section-title{
padding-top: 15px;
text-align: center;
font-size: 28px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.7px;
color: #ffffff;
}

.section-subtitle{
text-align:center;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.88;
letter-spacing: -0.23px;
color: #ffffff;
}

.left-oval{
position: absolute;
bottom : 0;
left: 0;
}

.right-oval{
position: absolute;
top : 0;
right: 0;
}
.how-image-container{
position: relative;
}

.how-image-container>.row>div>.img-cont {
text-align: center;
line-height: 200px;

}


.img-align{
vertical-align: middle;
}

.left-line{
position: absolute;
top: 20%;
left: 15%;
visibility: visible;
}

.right-line{
position: absolute;
top: 20%;
left: 45%;
visibility: visible;

}

.how-little-title{
margin-top: 20px;
text-align: center;
font-size: 22px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.31px;
text-align: center;
color: #ffffff;
}

.how-little-subtitle{
text-align: center;
font-size: 16px;
opacity: 0.89;
font-style: normal;
font-stretch: normal;
line-height: 1.88;
letter-spacing: -0.23px;
text-align: center;
color: #ffffff;
}



.demo-section {
height: 600px;
}


/* 
* Profiles section
*/


#profiles-section{
padding: 80px 0;
overflow-x: hidden;
}

.section-bar-title2{
width: 56px;
height: 7px;
border-radius: 3.5px;
background-color: #000000;
}

.section-title2{
padding-top: 24px;
padding-bottom: 15px;
font-size: 28px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.7px;
color: #000000;
}

.section-description{
line-height: 1.75;
margin-bottom: 50px;
max-width: 453px;
}

.section-description5{
line-height: 1.75;
margin-bottom: 50px;
max-width: 100%;
}

.control-container{
position: relative;
margin-top: 90px;
width: 500px;
text-align: center;
}
#shield-one{
width: 80px;
position: absolute;
right: 69px;
top: 104px;
}

#small-key{
width: 30px;
position: absolute;
top: 251px;
left: 145px;
}

.user-control{
padding-left: 50px;
}

.lock-control{
position: absolute;
left: 75%;
top: 135px;
width: 73px;
visibility: visible;
z-index: 12;
height: 73px;
box-shadow: 0 8px 87px 0 rgba(0, 0, 0, 0.16);
background-color: #ffffff;
border-radius: 50%; 
}

.number{
margin-top: 145px;
font-size: 48px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.69px;
color: #000000;
margin-bottom: 0;

}

.number-line{
width: 58px;
height: 5px;
background-color: #d8d8d8;
margin-bottom: 19px;
}


.top-card{
border-radius: 17.6px;
box-shadow: 0 7px 79px 0 rgba(0, 0, 0, 0.06);
background-color: #ffffff;
position: absolute;
visibility: visible;
left: 20%;
z-index: 10;
}

.middle-card{
position: absolute;
left: 21%;
top: 32px;
z-index: 9;
visibility: visible;
border-radius: 17.6px;
box-shadow: 0 7px 79px 0 rgba(0, 0, 0, 0.1);
background-color: #ffffff;
}

.bottom-card{
position: absolute;
left: 31%;
top: 48px;
visibility: visible;
z-index: 8;
border-radius: 17.6px;
box-shadow: 0 7px 79px 0 rgba(0, 0, 0, 0.1);
background-color: #ffffff;
}

.title1{
font-size: 32px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.46px;
color: #000000;
}

.description1{
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.75;
letter-spacing: -0.23px;
color: #000000;
}


.tag1{
width: 358px;

}
.tag2{
margin-top: 45px ;
margin-bottom: 65px ;
width: 325px;

}
.tag3{
width: 358px;

}

.tag4{
width: 330px;
position: absolute;
left :0;
right: 0;
margin: 0 auto;
transform: rotate(-8deg) translate(-3px, 24px);


}

.tag4-newClass{
transform-origin: 0% 0%;
transform: rotate(2deg) translate(33px, 64px) !important;
animation-name: dropMe;
animation-duration: 0.4s;
animation-timing-function: cubic-bezier(1, -0.46, 0.37, 1.38);
}

@keyframes dropMe{
0%{
  transform: rotate(-8deg) translate(-3px, 24px);


}

100% {
  transform: rotate(2deg) translate(33px, 64px);

}
}

.control2{
text-align: center;
}

#check1{

position: absolute;
}

.only-mobile{
display: none;
}

#dude-key{
max-width: 282.9px;
-webkit-filter: drop-shadow(0 7px 81px rgba(0, 0, 0, 0.16));
  filter:  drop-shadow(0 7px 81px  rgba(0, 0, 0, 0.16)); 
}


#diff-lines{
padding-top: 50px;
max-width: 85%;
-webkit-filter: drop-shadow(0 7px 81px rgba(0, 0, 0, 0.16));
filter:         drop-shadow(0 7px 81px  rgba(0, 0, 0, 0.16)); 
}

/* 
*   Special member section
*/

#special-member{
min-height: 370px;
background-size: 44%;
background-repeat: no-repeat;
background-position: 94%;
background-color: #a91925;
position: relative;
padding: 74px 0;  
overflow: hidden;

}

.section-bar-title3{
width: 56px;
height: 7px;
border-radius: 3.5px;
background-color: #ffffff;
}

.section-title3{
padding-top: 24px;
padding-bottom: 15px;
font-size: 32px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.46px;
color: #ffffff;
}

.section-description3{
line-height: 1.75;
margin-bottom: 50px;
max-width: 414px;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: -0.23px;
color: #ffffff;
}


.unlock-input-button2{
margin-top: 32px;
}

.unlock-input-button3{
margin: 32px auto 0 auto;
width: 100%;
}



.email-input2{
width: 380px;
height: 52px;
border: none;
border-radius: 7px;
box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.11);
background-color: #ffffff;
float: left;
color: #ba0228;
padding-left: 15px;
margin-right: 20px;
margin-bottom: 15px;
}

.unlock-my-badge3 {
width: 172px;
height: 52px;
border: none;
border-radius: 6px;
box-shadow: 0 5px 10px 0 rgba(186, 2, 40, 0.17);
background-color: #000;
color: white;
text-align: center;
float: left;
visibility: visible;
line-height: 40px;
margin-top: 0;
z-index: 4;
position: absolute;
}

.unlock-my-badge-disabled {
width: 172px;
height: 52px;
border: none;
border-radius: 6px;
box-shadow: 0 5px 10px 0 rgba(83, 76, 78, 0.17);
background-color: #a7aaad;
color: white;
text-align: center;
float: left;
visibility: visible;
line-height: 40px;
margin-top: 0;
}


/* 
*   parallax section
*/

#parallax-section{
min-height: 850px;
padding: 101px 0px 50px 0px;
position: relative;
}

.all-container{
/* background: url('../assets/img/All.png'); */
background-size: 95%; 
background-repeat: no-repeat;
background-position: 72% ; 
min-height: 1100px;

}

/* #to-parallax{
position: absolute ;
margin-left: auto;
margin-right: auto;
width: 100%;
left: 0;
right: 0;

} */

/*
*   icons section 
*/
#icons-section{
padding-bottom: 133px;
}

.icon-placeholder{
margin:61px auto 24px auto;
width: 77px;
height: 77px;
border-radius: 22px;
background-color: transparent;
text-align: center;
}
.icons-description{
max-width: 231px;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.63;
letter-spacing: -0.23px;
text-align: center;
color: #000000;
margin: 0 auto;
}


/*
*   footer section 
*/

#footer{
min-height: 183px;
background-color: #a91925;
padding: 32px 0 0 ;
}

.footer-nav{
margin: 0 auto;
text-align: center;
}

.footer-nav2{
margin: 0 auto;
text-align: right;
padding: 0;
}

.footer-nav2 > a:last-child{
margin: 0;
}

.footer-link2{
font-size: 16px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
letter-spacing: -0.23px;
color: #ffffff;
margin-right: 26px;
}

.footer-link{
line-height: 66px;
font-size: 16px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
letter-spacing: -0.23px;
color: #ffffff;
margin-right: 26px;
}

.footer-hr{
background-color: #e5e5e5;
border: none;
height: 1px;
}


.llc{
font-size: 18px;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.36px;
color: #ffffff;
}
button:focus {outline:none;}
input:focus {outline: none;}

.social-container{
text-align: right;
line-height: 66px;  
}

.footer-logo>img{
text-align: center;
}


/*
* to top button
*/

.top{
text-align:center;
font-size:180%;
margin:1em 2em;
font-family: Calibri;
position:fixed;
right:0;
bottom:0;
visibility: hidden;
transition: 0.2s;
}
.to-top{
color:#fff;
padding-top:1.8em;
display:inline-block;/* or block */
position:relative;
border-color:#fff;
text-decoration:none;
transition:all .3s ease-out;


}
.to-top:before{
content:'↑';
font-size:.9em;
position:absolute;
top:0;
left:50%;
color: inherit;
margin-left:-.7em;
border:solid .13em #000;
border-radius:10em;
width:1.4em;
height:1.4em;
line-height:1.3em;
border-color:inherit;
transition:transform .5s ease-in;
box-shadow: 0 7px 79px 0 rgba(0, 0, 0, 0.5);
background : #AD1925;
}
.to-top:hover{
color:#F5E0E1;
border-color:#F5E0E1;
}
.to-top:hover:before{
transform: rotate(360deg);
}






/*
**********************
Contact Us Page
**********************
*/


#contact-us {
background: url('../assets/img/bg@3x.png') no-repeat;
min-height: 841px;
background-size: 68%;
top: 0;
left: 0;
}



.contact-form {
min-height: 533px;
border-radius: 19px;
box-shadow: 0 9px 103px 0 rgba(0, 0, 0, 0.06);
background-color: #ffffff;
margin-top: 102px;
margin-bottom: 50px;
}

.contact-form>.container-fluid {
padding: 0 !important;
}

.contact-form>.col-md-4,
.col-md-8,
.col-md-10 {
padding: 0 !important;
}

.reach-us {
font-family: CircularStd;
font-size: 24px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.6px;
color: #fbfbfb;
margin-bottom: 60px;
}

.contact-info {
border-top-left-radius: 19px;
border-bottom-left-radius: 19px;
background-color: #a91925;
width: 40%;
float: left;
min-height: 533px;
padding: 16px;

}

.contact-info-content {
padding: 16px;
color: #fff;

}

.contact-field {
background-color: #ffffff;
width: 60%;
float: left;
min-height: 533px;
border-top-right-radius: 19px;
border-bottom-right-radius: 19px;
position: relative;

}

.contact-field-content {
padding: 66px 30px 0px 30px;
}

.Contactstibitsio {

font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.31;
letter-spacing: -0.23px;
color: #ffffff;
}

.contact-input-field {
width: 100%;
height: 48px;
border-radius: 6px;
border: solid 2px #dadada;
background-color: #ffffff;
outline: none;
padding-left: 25px;
margin-bottom: 25px;
}

.contact-input-field:focus {
border: solid 2px #000000;

}


.field-label {
font-family: CircularStd;
font-size: 16px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.31;
letter-spacing: -0.23px;
color: #000000;
}

.contact-input-text-area {
width: 100%;
border-radius: 6px;
border: solid 2px #dadada;
background-color: #ffffff;
outline: none;
padding-left: 25px;
padding-top: 25px;
margin-bottom: 25px;
}

.contact-input-text-area:focus {
border: solid 2px #000000;

}


.contact-subscribe {
width: 152px;
height: 44px;
border-radius: 6px;
box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.23);
background-color: #000000;
border: none;
position: absolute;
bottom: -41px;
right: 70px;
color: #ffffff;
}


@media (max-width: 998px) {
.contact-subscribe {
    bottom: -7%;
    right: 16%;
}
}

@media (max-width: 991px) {
.contact-subscribe {
    bottom: -8%;
    right: 16%;
}
}

@media (max-width: 987px) {
.contact-subscribe {
    bottom: -25%;
    right: 16%;
}
}

@media (max-width: 768px) {
.contact-field {
    background-color: #ffffff;
    width: 100%;
    float: left;
    min-height: 533px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    position: relative;

}

.contact-info {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 0px;
    background-color: #a91925;
    width: 100%;
    float: left;
    min-height: 533px;
    padding: 16px;

}

.contact-subscribe {
    bottom: -4%;
    right: 0%;
    left: 0;
    margin: 0 auto;
}

.reach-us {
    font-family: CircularStd;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #fbfbfb;
    margin-bottom: 29px;
}

}


/*
*    articles section
*/


.articles-section {
padding-top: 150px;
padding-bottom: 150px;

}

.article-container {
margin-top: 30px;
min-height: 330px;
border-radius: 19px;
box-shadow: 0 9px 103px 0 rgba(0, 0, 0, 0.06);
background-color: #ffffff;
}

.thumbnail-container {
width: 50%;
float: left;
min-height: 330px;
max-height: 450px;
border-top-left-radius: 19px;
border-bottom-left-radius: 19px;
background-size: cover;
background-position: center center;

}

.article-description {
width: 50%;
float: left;
min-height: 330px;
max-height: 450px;
padding-left: 20px;

}

.article-title {
font-family: CircularStd;
font-size: 24px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.42;
letter-spacing: -0.34px;
color: #000000;
}


.author {
width: 100px;
height: 27px;
border-radius: 6px;
background-color: rgba(187, 2, 39, 0.15);
margin-top: 25px;
margin-bottom: 25px;
}

.author>p {
font-size: 14px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
letter-spacing: -0.5px;
color: #A91925;
text-align: center;
line-height: 27px;
}

a:hover {
text-decoration: none;
text-decoration-style: none;
color: black;
}

.read-more {
width: 128px;
height: 40px;
border-radius: 6px;
box-shadow: 0 5px 10px 0 rgba(186, 2, 40, 0.17);
background-color: #ba0228;
color: white;
text-align: center;
line-height: 40px;
}

.article-content {
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.71;
letter-spacing: -0.2px;
color: #000000;
}

#articles {
background: url('../assets/img/bg@3x.png') no-repeat;
min-height: 841px;
background-size: 68%;
top: 0;
left: 0;
}

@media (max-width: 768px){
.thumbnail-container {
  width: 100%;
  float: none;
  min-height: 330px;
  max-height: 450px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 0px;

  background-size: cover;
  background-position: center center;

}

.article-description {
  width: 100%;
  float: none;
  min-height: 330px;
  max-height: 450px;
  padding-left: 20px;
  padding-right: 20px;

}





}

/*
*   burger button navigation
*/


#open-close-navigation{
cursor: pointer;
}

.navigation-active{
visibility: visible !important;
}

.navigation-open{
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
background: rgba(0,0,0,0.9);
z-index: 292929;
overflow-y: hidden;
visibility: hidden;
}


.navigation-elements > a{
color: white;
display: block;
width: auto;
margin: 25px auto;
text-align: center;
text-transform: uppercase;
}

.navigation-elements {

margin: 100px 0;

}


/*
*       thank you page
*
*/


#thank-you {
/* background: url('../assets/img/bg@3x.png') no-repeat; */
min-height: 841px;
background-size: 68%;
top: 0;
left: 0;
}

.tweet-me {
width: 494px;
min-height: 88px;
border-radius: 4px;
border: solid 1px #e1e8ed;
margin: 0 auto 20px auto;
display: block;
padding: 12px;
}

.tweet-content {
font-family: Helvetica;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.36;
letter-spacing: normal;
color: #1c2022;
}

.tweet-button {
font-family: Helvetica;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #697882;
float: right;
}

.could-help {
font-family: CircularStd;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.75;
letter-spacing: -0.23px;
text-align: center;
color: #000000;
text-align: center;
margin: 30px  auto 20px auto;
}


.congrats-title {
font-size: 28px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.7px;
text-align: center;
color: #000000;
}

.congrats-message {
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.75;
letter-spacing: -0.23px;
text-align: center;
color: #000000;
max-width: 559px;
margin: 0 auto;
}

.congrats-badge {
margin-top: 70px;
}

.congrats-join {
margin-top: 49px;
font-size: 18px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.56;
letter-spacing: -0.26px;
text-align: center;
color: #000000;

}

.social-container {
margin: 0 auto;
text-align: right;
display: block;
}

.social-container>img {
margin: 16px;

}


/* 
*   =====================================================================================
*                                       Media queries
*   =====================================================================================
*/


@media (max-width: 1024px){
#first-section{
  /* background: url('../assets/img/background.png'); */
  background-size: 610px;
  background-position: 500px top;
  background-repeat: no-repeat;
  max-width: 1440px;
}
.background-container{
  position: absolute;
  height: 700px;
  background: url('../assets/img/background.png');
  width: 100%;
  max-width: 1440px;
  background-size: 610px;
  background-position: 500px top;
  background-repeat: no-repeat;

}
.burger-icon{
  visibility: hidden;
}


}


@media(min-width : 770px){
.rectangle::after{
  position: absolute;
  content: "";
  height: 6px;
  border-radius: 3px;
  background-color: #ba0228;
  
}


/* @keyframes rectangleFull{
  from{
    width: 0;
  }
  to {
   width: 49px;

  }

} */
}

@media (max-width: 992px) { 
.burger-icon{
  visibility: visible;
}

.section-description5{
  line-height: 1.75;
  margin-bottom: 50px;
  max-width: 100%;
  text-align: center;
}

#small-key{
  width: 30px;
  position: absolute;
  top: 210px;
  left: 55px;
}

#dude-key{
  max-width: 250px;
  padding-right: 12px;
  -webkit-filter: drop-shadow(0 7px 81px rgba(0, 0, 0, 0.16));
    filter:         drop-shadow(0 7px 81px  rgba(0, 0, 0, 0.16)); 
}

#shield-one{
  width: 65px;
  position: absolute;
  right: 7px;
  top: 89px;
}
.social-container{
  text-align: center;
}

.footer-logo{
  text-align: center;
}

.llc{
  text-align: center;
  padding-bottom: 10px;
}

.footer-nav2{
  text-align: center;
  padding: 12px 0 18px 0px;
}

.tag1{
  width:259.5px;
}


.tag2{
  width:259.5px;
}

.tag3{
  width:259.5px;
}

.tag4{
  width: 255px;
  position: absolute;
  left :0;
  right: 0;
  margin: 0 auto;
  transform: rotate(-8deg) translate(-3px, 24px);
  animation-name: dropMe;
  animation-duration: 0.4s;
  animation-delay: 3s;
}

.title1{
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #000000;
}


.control-container{
  position: relative;
  margin-top: 90px;
  width: 300px;
}


.lock-control{
  position: absolute;
  left: 62%;
  top: 90px;
  width: 73px;
  z-index: 12;
  height: 73px;
  box-shadow: 0 8px 87px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 50%; 
}

.number{
  margin-top: 110px;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #000000;
  margin-bottom: 0;

}
.top-card{
  border-radius: 17.6px;
  box-shadow: 0 7px 79px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  width: 216.7px;
  z-index: 10;
}

.middle-card{
  position: absolute;
  left: 1%;
  top: 20px;
  width: 224.4px;
  z-index: 9;
  border-radius: 17.6px;
  box-shadow: 0 7px 79px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.bottom-card{
  position: absolute;
  left: 4%;
  top: 34px;
  z-index: 8;
  width: 224.4px;
  height: 163.3px;
  border-radius: 17.6px;
  box-shadow: 0 7px 79px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.grouped1{
  max-width:300px ;
  display: none;
}

.left-line{
  width: 257px;
}

.right-line{
  width: 257px;
}

.section-bar-title2{
  margin: 0 auto;
}

.section-title2{
  text-align: center;
}
.section-description{
  margin: 0 auto;
  text-align: center;
  width: auto;
}

.rectangle{
  width: 249px;
  height: 6px;
  border-radius: 3px;
  background-color: #f2f2f2;
  margin-left: 58px;
  margin-top: -18px;
} 
.rectangle::after{
  position: absolute;
  content: "";
  height: 6px;
  border-radius: 3px;
  background-color: #ba0228;
  
}


.hero-title{
  font-size: 14px;
}

.hero-big-title {
  font-size: 18px;
}

#first-section{
  /* background: url('../assets/img/background.png'); */
  background-size: 610px;
  background-position: 320px top;
  background-repeat: no-repeat;
  max-width: 1440px;
 }

 .background-container{
  position: absolute;
  height: 700px;
  background: url('../assets/img/background.png');
  width: 100%;
  max-width: 1440px;
  background-size: 610px;
  background-position: 320px top;
  background-repeat: no-repeat;

}


.nav-link {
  display: none;
}




#phone-top{
position: absolute;
z-index: 6;
right:22%;
width: 210px;

}

#phone-down{
position: absolute;
z-index: 5;
right:6%;
top: 130px;
width: 230px;

}

#transaction-top{
position: absolute;
z-index: 7;
right:5%;
top: 200px;
}

#badge-1{
position: absolute;
z-index: 7;
top: 55px;
right: 78%;
}

#badge-2{
position: absolute;
z-index: 7;
top: 210px;
right: 81%;
}

#badge-3{
position: absolute;
z-index: 7;
top: 59px;
right: 0%;
}

}



@media (max-width: 767px){
 .hero-section{
   text-align: center;
 }
 .stibits-logo{
  width: 75px;
  height: 32px;
}
#diff-lines{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
  -webkit-filter: drop-shadow(0 7px 81px rgba(0, 0, 0, 0.16));
  filter:         drop-shadow(0 7px 81px  rgba(0, 0, 0, 0.16)); 
}

.email-input4{
  width: 100%;
  height: 49px;
  border-radius: 7px;
  border: solid 2px #ba0228;
  background-color: #ffffff;
  float: left;
  color: #ba0228;
  padding-left: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.unlock-my-badge-disabled {
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 5px 10px 0 rgba(83, 76, 78, 0.17);
  background-color: #a7aaad;
  color: white;
  text-align: center;
  float: left;
  visibility: visible;
  line-height: 40px;
  margin-top: 0;
}


#special-member {
  min-height: 370px;
  background-size: 416px;
  background-repeat: no-repeat;
  background-position: 54% -59%;
  background-color: #a91925;
  position: relative;
  padding: 74px 0;
}

.all-container{
background: url('../assets/img/group-24@3x.png');
background-size: 85%;
background-repeat: no-repeat;
background-position: 72% 83%;
min-height: 1200px;
padding: 0;
}


#parallax-section{
min-height: 650px;
padding: 101px 0px 50px 0px;
}

.section-bar-title3{
margin: 145px auto 0px auto;

}
.section-title3{
text-align: center;

}

.section-description3{
text-align: center;
margin: 0 auto;
}

.email-input2 {
width: 100%;
height: 52px;
border: none;
border-radius: 7px;
box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.11);
background-color: #ffffff;
float: left;
color: #ba0228;
padding-left: 15px;
margin-right: 20px;
margin-bottom: 15px;
}

.unlock-my-badge3 {
width: 100%;
height: 52px;
border: none;
border-radius: 6px;
box-shadow: 0 5px 10px 0 rgba(186, 2, 40, 0.17);
background-color: #000;
color: white;
text-align: center;
float: left;
visibility: visible;
line-height: 40px;
margin-top: 0;
position: relative;
}

.footer-nav{
  display: none;
}

.footer-link2{
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  font-size: 18px;
}


.number{
  text-align: center;
}
.number-line{
  margin: 0 auto;
}
.title1{
  text-align: center;
}
.description1{
      text-align: center;

}




.control-container{
  position: relative;
  margin: 90px auto 0 auto;
  min-height: 313px;
  

}

.number{
  margin-top:   10px;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #000000;
  margin-bottom: 0;

}




.left-oval{
  display: none;
}

.right-oval{
  display: none;
}

.left-line{
  visibility: hidden;
}

.right-line{
  visibility: hidden;
}


.served-badges{
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.rectangle{
  width: 249px;
  height: 6px;
  border-radius: 3px;
  background-color: #f2f2f2;
  margin: 0 auto;
} 
.rectangle::after{
  position: absolute;
  content: "";
  height: 6px;
  margin-left: -122px;
  border-radius: 3px;
  background-color: #ba0228;
  
}

 .unlock-my-badge{
   visibility: hidden;
 }
 .navigation-links{
  padding: 0;
  width: auto;
}
.phone-badges-container{
  /* display: none; */
  min-height: 400px;
}

.email-input{
  width: 100%;
  display: block;
  height: 49px;
  border-radius: 7px;
  border: solid 2px #ba0228;
  background-color: #ffffff;
  color: #ba0228;
  margin: 15px auto;
}

.unlock-my-badge2{
  border: none;
  width: 100%;
  display: block;
  height: 49px;
  border-radius: 7px;
  box-shadow: 0 5px 10px 0 rgba(186, 2, 40, 0.17);
  background-color: #ba0228;
  color: white;
}


.play-app-store{
  width: 100%;
  min-height: 74px;
  border-radius: 12px;
  background-color: #f3f3f3;
  padding-left: 20px;
  margin: 0 auto;
}

.play-app-store>p>span{
  width: 420px;
}

}

@media (max-width: 558px){
 .grouped1{
   display: block;
   max-width:300px ;
 }

 .lock-control{
   visibility: hidden;
 }

 .top-card{
   visibility: hidden;
 }

 .middle-card{
   visibility: hidden;
 }
 .bottom-card{
   visibility: hidden;
 }

 .only-mobile{
  display: block;
  text-align: center;
  margin: 0 ;
}
.control-container{
  max-width: 360px;
  min-height: 313px;
}

.burger-icon{
  margin-top: 12px;
  margin-left: 0;
}

#first-section{
  /* background: url('../assets/img/background.png'); */
  background-size: 610px;
  background-position: 13px top;
  background-repeat: no-repeat;
 }

 .background-container{
  position: absolute;
  height: 700px;
  background: url('../assets/img/background.png');
  width: 100%;
  max-width: 1440px;
  background-size: 610px;
  background-position: 13px top;
  background-repeat: no-repeat;

}

}
